[Unit]
Description=Hello World Web Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/root/.local/bin/hello-world --bind {{ app_bind }} --port {{ app_port }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
